# EXPLORATORY DATA ANALYSIS

In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
from helpers import convert_valor_to_numerical

In [2]:
df = pd.read_csv('datasets/database-1701392111.8423762.csv')

In [14]:
df.head()

,Unnamed: 0,URL,Fabricante,Modelo,Versao,Valor,Cidade,Ano,Combustível,Placa final,...,Lanternas traseiras de led,Sensor crepuscular,Banco do passageiro com ajuste elétrico,Veículo alienado,Bancos dianteiros com aquecimento,Pneus de uso off-road,Park assist paralelo,Calha de chuva,Freio a disco dianteiro,Ar quente (ar-condicionado)
0,0,https://www.mobiauto.com.br/comprar/carros/ba-...,Toyota,Hilux SW4,SRV 4x4 3.0 Turbo (aut)2,R$ 79.900,Lauro de Freitas - BA,2009/2009,Diesel,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,https://www.mobiauto.com.br/comprar/carros/ba-...,Volkswagen,T-Cross,1.0 200 TSI Comfortline (Aut) (Flex),R$ 110.900,Salvador - BA,2021/2022,Flex,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,https://www.mobiauto.com.br/comprar/carros/ba-...,Volkswagen,T-Cross,1.0 200 TSI Comfortline (Aut) (Flex),R$ 107.000,Salvador - BA,2021/2022,Flex,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,https://www.mobiauto.com.br/comprar/carros/ba-...,Volkswagen,Taos,Highline 1.4 TSI (Aut) (Flex),R$ 164.900,Salvador - BA,2021/2022,Flex,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,https://www.mobiauto.com.br/comprar/carros/ba-...,Volkswagen,T-Cross,1.0 200 TSI Comfortline (Aut) (Flex),R$ 112.900,Salvador - BA,2021/2022,Flex,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
frequency_of_features = 1-df.isnull().sum().sort_values(ascending=False)/len(df)
frequency_of_features

Pneus run flat                  0.000313
Tração 4x4 reduzida             0.000313
Barras longitudinais no teto    0.000313
Calha de chuva                  0.000313
Park assist paralelo            0.000313
                                  ...
Velocidade máxima (km/h)        1.000000
Tempo 0-100 (s)                 1.000000
Consumo cidade (km/l)           1.000000
Consumo estrada (km/l)          1.000000
Unnamed: 0                      1.000000
Length: 200, dtype: float64

In [4]:
np.sum(frequency_of_features > 0.5)

53

In [5]:
common_features = frequency_of_features[frequency_of_features > 0.5] # features that are present in at least 50% of the vehicles in the dataset

In [6]:
df2 = df.loc[:, common_features.index]
df2.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
df2['Valor']

0        R$ 79.900
1       R$ 110.900
2       R$ 107.000
3       R$ 164.900
4       R$ 112.900
           ...
3195    R$ 175.900
3196             0
3197             0
3198    R$ 160.900
3199     R$ 52.900
Name: Valor, Length: 3200, dtype: object

`Valor` must be converted to numerical type.

In [9]:
valor = df2['Valor']

In [58]:
valor.isnull().sum()

0

In [12]:
df2['Valor'] = valor.apply(convert_valor_to_numerical)

In [13]:
df2['Valor']

0        79900
1       110900
2       107000
3       164900
4       112900
         ...
3195    175900
3196         0
3197         0
3198    160900
3199     52900
Name: Valor, Length: 3200, dtype: int64

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 52 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Farol de neblina                           1601 non-null   object
 1   Direção elétrica                           1619 non-null   object
 2   Ar quente                                  1632 non-null   object
 3   Rodas de liga leve                         1749 non-null   object
 4   Retrovisores elétricos                     1778 non-null   object
 5   Distribuição eletrônica de frenagem (ebd)  1879 non-null   object
 6   Limpador traseiro                          1912 non-null   object
 7   Vidros elétricos traseiros                 2043 non-null   object
 8   Rádio                                      2072 non-null   object
 9   Entradas usb                               2086 non-null   object
 10  Alarme                                     2183 non-null   object
 11  Volante com regulagem de altura            2186 non-null   object
 12  Computador de bordo                        2377 non-null   object
 13  Desembaçador traseiro                      2502 non-null   object
 14  Airbag motorista                           2573 non-null   object
 15  Suspensão dianteira                        2615 non-null   object
 16  Suspensão traseira                         2632 non-null   object
 17  Travas elétricas                           2745 non-null   object
 18  Porta-Malas (L)                            2750 non-null   float64
 19  Vidros elétricos dianteiros                2786 non-null   object
 20  Airbag duplo frontal                       2792 non-null   object
 21  Placa final                                2814 non-null   float64
 22  Freios abs                                 2839 non-null   object
 23  Ar-condicionado                            2876 non-null   object
 24  Peso (kg)                                  2928 non-null   float64
 25  Freios dianteiros                          2930 non-null   object
 26  Tanque (L)                                 2957 non-null   float64
 27  Entre-eixos (mm)                           2977 non-null   float64
 28  Altura (mm)                                2987 non-null   float64
 29  Largura (mm)                               2987 non-null   float64
 30  Ocupantes                                  2992 non-null   float64
 31  Tração                                     2994 non-null   object
 32  Motorização                                3006 non-null   object
 33  Carroceria                                 3108 non-null   object
 34  Comprimento (mm)                           3145 non-null   float64
 35  Ano                                        3200 non-null   object
 36  Cidade                                     3200 non-null   object
 37  Valor                                      3200 non-null   object
 38  Versao                                     3200 non-null   object
 39  KM                                         3200 non-null   object
 40  Fabricante                                 3200 non-null   object
 41  Combustível                                3200 non-null   object
 42  Modelo                                     3200 non-null   object
 43  URL                                        3200 non-null   object
 44  Câmbio                                     3200 non-null   object
 45  Cor                                        3200 non-null   object
 46  Potência (cv)                              3200 non-null   object
 47  Torque (kgf.m)                             3200 non-null   object
 48  Velocidade máxima (km/h)                   3200 non-null   object
 49  Tempo 0-100 (s)                            3200 non-null   object
 50  Consumo cidade (km/l)                      3200 non-null   object
 51  Consumo estrada (km/l)                     3200 non-null   object
dtypes: float64(9), object(43)
memory usage: 1.3+ MB

In [18]:
num_variables = df2.select_dtypes(['float64', 'int64']).columns
num_variables

Index(['Porta-Malas (L)', 'Placa final', 'Peso (kg)', 'Tanque (L)',
       'Entre-eixos (mm)', 'Altura (mm)', 'Largura (mm)', 'Ocupantes',
       'Comprimento (mm)', 'Valor'],
      dtype='object')

In [19]:
cat_variables = df2.select_dtypes('object').columns
cat_variables

Index(['Farol de neblina', 'Direção elétrica', 'Ar quente',
       'Rodas de liga leve', 'Retrovisores elétricos',
       'Distribuição eletrônica de frenagem (ebd)', 'Limpador traseiro',
       'Vidros elétricos traseiros', 'Rádio', 'Entradas usb', 'Alarme',
       'Volante com regulagem de altura', 'Computador de bordo',
       'Desembaçador traseiro', 'Airbag motorista', 'Suspensão dianteira',
       'Suspensão traseira', 'Travas elétricas', 'Vidros elétricos dianteiros',
       'Airbag duplo frontal', 'Freios abs', 'Ar-condicionado',
       'Freios dianteiros', 'Tração', 'Motorização', 'Carroceria', 'Ano',
       'Cidade', 'Versao', 'KM', 'Fabricante', 'Combustível', 'Modelo', 'URL',
       'Câmbio', 'Cor', 'Potência (cv)', 'Torque (kgf.m)',
       'Velocidade máxima (km/h)', 'Tempo 0-100 (s)', 'Consumo cidade (km/l)',
       'Consumo estrada (km/l)'],
      dtype='object')

In [37]:
df2.isnull().sum(axis=1).sort_values(ascending=False)

2077    34
2784    34
619     34
2575    33
2601    33
        ..
2347     0
2358     0
2802     0
430      0
121      0
Length: 3200, dtype: int64

In [21]:
df2.isnull().sum(axis=1).mean()

7.48375

In [20]:
# number of vehicles that have all the columns filled
np.sum(df2.isnull().sum(axis=1) == 0)

116

In [29]:
df2['CY'] = df2['Ano'].apply(lambda x: str.split(x, '/')[0])

In [30]:
df2['MY'] = df2['Ano'].apply(lambda x: str.split(x, '/')[1])

In [31]:
df2[['CY', 'MY']]

        CY    MY
0     2009  2009
1     2021  2022
2     2021  2022
3     2021  2022
4     2021  2022
...    ...   ...
3195  2021  2021
3196  2013  2014
3197  2015  2015
3198  2016  2016
3199  2013  2014

[3200 rows x 2 columns]

In [34]:
df2.drop_duplicates()

,Farol de neblina,Direção elétrica,Ar quente,Rodas de liga leve,Retrovisores elétricos,Distribuição eletrônica de frenagem (ebd),Limpador traseiro,Vidros elétricos traseiros,Rádio,Entradas usb,...,Câmbio,Cor,Potência (cv),Torque (kgf.m),Velocidade máxima (km/h),Tempo 0-100 (s),Consumo cidade (km/l),Consumo estrada (km/l),CY,MY
0,NaN,Sim,Sim,Sim,Sim,NaN,Sim,Sim,NaN,NaN,...,Automática,Prata,163 (F),35.0 (F),N/C,- (F),N/C,N/C,2009,2009
1,Sim,NaN,Sim,NaN,NaN,NaN,Sim,Sim,Sim,Sim,...,Automática,Prata,128 (E) / 116 (G),20.394323 (E) / 20.394323 (G),184 (E) / 179 (G),10.4 (E) / 10.9 (G),N/C,N/C,2021,2022
2,Sim,Sim,Sim,NaN,NaN,NaN,Sim,Sim,Sim,Sim,...,Automática,Branco,128 (E) / 116 (G),20.394323 (E) / 20.394323 (G),184 (E) / 179 (G),10.4 (E) / 10.9 (G),N/C,N/C,2021,2022
3,Sim,Sim,Sim,Sim,Sim,NaN,Sim,Sim,Sim,Sim,...,Automática,Azul,150 (E) / 150 (G),25.5 (E) / 25.5 (G),194 (E),9.3 (E),7.6 (E) / 10.9 (G),9.1 (E) / 13 (G),2021,2022
4,Sim,NaN,Sim,Sim,NaN,NaN,Sim,Sim,Sim,Sim,...,Automática,Branco,128 (E) / 116 (G),20.394323 (E) / 20.394323 (G),184 (E) / 179 (G),10.4 (E) / 10.9 (G),N/C,N/C,2021,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,Sim,NaN,Sim,Sim,NaN,NaN,NaN,Sim,Sim,Sim,...,Manual,Vermelho,190 (D),45.9 (D),180 (D),11.3 (D),9.2 (D),10.5 (D),2021,2021
3196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Manual,Branco,78 (F) / 77 (G),9.7 (F) / 9.5 (G),161 (F) / 156 (G),13.4 (F),9.5 (F),12.2 (F),2013,2014
3197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Manual,Branco,147 (E) / 140 (G),19.7 (E) / 18.9 (G),180 (E) / 180 (G),12.9 (E),6.6 (E) / 9.7 (G),11.5 (E),2015,2015
3198,Sim,NaN,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,...,Automática,Branco,N/C,N/C,N/C,- (E),N/C,N/C,2016,2016
3199,Sim,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Automática,Branco,N/C,N/C,N/C,- (E),N/C,N/C,2013,2014

In [36]:
df2[['Ano', 'Modelo', 'Versao']].value_counts()

Ano        Modelo        Versao
2023/2024  Renegade      T270 1.3 Turbo 4x2                      28
2021/2022  T-Cross       1.0 200 TSI Comfortline (Aut) (Flex)    20
2022/2023  Voyage        1.0 MPI (Flex)                          20
2022/2022  T-Cross       1.0 200 TSI Comfortline (Aut) (Flex)    17
2023/2024  Renegade      Longitude T270 1.3 Turbo 4x2            17
                                                                 ..
2016/2017  Fit           1.5 16v EXL CVT (Flex)                   1
           Fiesta Sedan  SEL 1.6 (Aut.)                           1
           Fiesta Hatch  SEL 1.6 16V Flex Mec. 5p - G             1
           F-Pace        2.0D Prestige 4WD                        1
2024/2024  Kicks         Sense CVT 1.6 (Flex)                     1
Name: count, Length: 2095, dtype: int64